button,
div,
form,
input {
    margin: 10px;
}
h1 {
    background-image: url(../images/yellow-bricks-background.jpg);
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}
body {
    background-color: tan;
}